html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#timelines {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#graph {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.tooltip {	
    position: absolute;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
}